<div class="single_banner">
                        <img src="/images/homepage_top.jpg" alt="banner_photo">
                        <div class="banner_details">
                            <p class="type">বিবিধ</p>
                            <h1 class="title">ঈশ্বরচন্দ্র বিদ্যাসাগর: এক মহান মনীষীর জীবনকথা</h1>
                            <p class="short_details">ঈশ্বরচন্দ্র বিদ্যাসাগর সম্পর্কে রবীন্দ্রনাথ ঠাকুর তার ‘চারিত্রপূজা’ গ্রন্থে লিখেছিলেন, বিশ্বকর্মা যেখানে চারকোটি...</p>
                            <p class="read_more_btn hover-underline-animation">Read More &#8594; <span></span></p>
                            <p class="author_name">Redwan Ahmed <span class="pub_date"> April 26, 2023</span></p>
                        </div>
                    </div>