 <section class="footer">
        <div class="container">
        <div class="footer_container">

            <div class="links footer_items">
                <p>Find Us</p>
                <ul>
                    <li><img src="/images/icons/fb.png" alt="icons"><a href="#" target="_blank" rel="noopener noreferrer">facebook</a></li>
                    <li><img src="/images/icons/twitter.png" alt="icons"><a href="#" target="_blank" rel="noopener noreferrer">twitter</a></li>
                    <li><img src="/images/icons/telegram.png" alt="icons"><a href="#" target="_blank" rel="noopener noreferrer">telegram</a></li>
                    <li><img src="/images/icons/email.png" alt="icons"><a href="#" target="_blank" rel="noopener noreferrer">mail</a></li>
                    <li><img src="/images/icons/insta.png" alt="icons"><a href="#" target="_blank" rel="noopener noreferrer">instagram</a></li>
                </ul>
            </div>
            <div class="support footer_items">
                <p>supports</p>
                <ul class="suport_list">
                    <li><img src="/images/icons/10minuteschool.png" alt="arrow"></li>
                    <li><img src="/images/icons/ruet.png" alt="arrow" ></li>
                    <li><img src="/images/icons/cuet.png" alt="arrow"></li>
                    <li><img src="/images/icons/robi.png" alt="arrow"></li>
                </ul>
            </div>
            <div class="donate footer_items">
                <p>Donate Us</p>
                <ul class="donate_list">
                    <img src="/images/donate_img/bkash.png" alt="bkash" class="donate_single_img">
                    <img src="/images/donate_img/nagad.png" alt="nagad" class="donate_single_img">
                    <img src="/images/donate_img/paypal.png" alt="paypal" class="donate_single_img">
                    <img src="/images/donate_img/payoneer.png" alt="payoneer" class="donate_single_img">
                </ul>
            </div>
            <div class="important_link footer_items">
                <p>Important links</p>
                <ul class="imp_list">
                    <li><a href="#">Exam Notice</a></li>
                    <li><a href="#">BSC Result</a></li>
                    <li><a href="#">Colleges EIIN No.</a></li>
                    <li><a href="#">Admission Notice</a></li>
                    <li><a href="#">Education Board</a></li>
                </ul>
            </div>
            <div class="contributors footer_items">
                <p>contributors</p>
                <ul class="contributors_list">
                    <li><img src="/images/contributor_img/safiul.png" alt=""><a href="#">Safiul Alam Sarker</a></li>
                    <li><img src="/images/contributor_img/hadi.jpg" alt=""><a href="#">Nura Hadi</a></li>
                    <li><img src="/images/contributor_img/anik.jpg" alt=""><a href="#">Anik Mahmud Shanto</a></li>
                </ul>

            </div>
            
        </div>
            
        </div>
    </section>