<section
  class="splide"
  id="second-slider"
  aria-label="Sp  lide Basic HTML Example"
>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide br-2 m-5">
        <div class="card" style="width: 20 rem">
          <div class="card_img">
            <img class="card-img-top" src="/images/card_header.jpg" alt="" />
            <p class="card-title">HSC</p>
          </div>

          <div class="card-body">

            <p class="card-tex">Lorem ipsum dolor sit amet consectetur
              adipisicing elit.</p>
            <a href="#" class="btn btn-block">Read more</a>
          </div>
        </div>
      </li>
      <li class="splide__slide m-5"><div class="card" style="width: 20 rem">
          <div class="card_img">
            <img class="card-img-top" src="/images/card_header.jpg" alt="" />
            <p class="card-title">SSC</p>
          </div>
          <div class="card-body">
            <p class="card-tex">Lorem ipsum dolor sit amet consectetur
              adipisicing elit.</p>
            <a href="#" class="btn btn-block">Read more</a>
          </div>
        </div></li>
      <li class="splide__slide m-5"><div class="card" style="width: 20 rem">
          <div class="card_img">
            <img class="card-img-top" src="/images/card_header.jpg" alt="" />
            <p class="card-title">JSC</p>
          </div>
          <div class="card-body">
            <p class="card-tex">Lorem ipsum dolor sit amet consectetur
              adipisicing elit.</p>
            <a href="#" class="btn btn-block">Read more</a>
          </div>
        </div></li>
      <li class="splide__slide m-5"><div class="card" style="width: 20 rem">
          <div class="card_img">
            <img class="card-img-top" src="/images/card_header.jpg" alt="" />
            <p class="card-title">PSC</p>
          </div>
          <div class="card-body">
            <p class="card-tex">Lorem ipsum dolor sit amet consectetur
              adipisicing elit.</p>
            <a href="#" class="btn btn-block">Read more</a>
          </div>
        </div></li>
      <li class="splide__slide m-5"><div class="card" style="width: 20 rem">
          <div class="card_img">
            <img class="card-img-top" src="/images/card_header.jpg" alt="" />
            <p class="card-title">ADMISSION</p>
          </div>
          <div class="card-body">
            <p class="card-tex">Lorem ipsum dolor sit amet consectetur
              adipisicing elit.</p>
            <a href="#" class="btn btn-block">Read more</a>
          </div>
        </div></li>
    </ul>
  </div>
</section>