<div class="news">
            
                <div class="news_item">
                    <div class="news_item_img">
                        <h1 class="heading">Talking About Vulnerability During Quarantine</p>
                        <img src="/images/card_header.jpg" alt="">
                    </div>
                    <div class="news_item_info">
                        <div>
                            <img src="/images/contributor_img/safiul.png
                            " alt="witter_img">
                            <p class="writter">by Safiul alam sarker</p>
                        </div>
                        
                        
                        <p class="date_time">May 29, 2023</p>
                    </div>
                    <div class="news_item_fullinfo">
                        <p class="post_content">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat eveniet debitis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, tempore.
                        </p>
                        <button class="showmore btn p-3">see more...</button>
                    </div>
    
                </div>
               
            </div>