 <div class="selct-class" id="select-class">
          <div class="select-btn">
            <span class="select-btn-txt">Choose class</span>
            <i class="icon ion-md-arrow-dropdown"></i>

          </div>
          <ul class="options">
            <li class="option">
              Class 5
            </li>
            <li class="option">
              Class 6
            </li>
            <li class="option">
              Class 7
            </li>
            <li class="option">
              Class 8
            </li>
            <li class="option">
              SSC
            </li>
            <li class="option">
              HSC
            </li>
            <li class="option">
              Admission
            </li>
          </ul>
        </div>