<div class="sidebar">
  <div class="sidebar_items">

    <div class="calendar">
      {{! <h1>Calendar</h1> }}
      <div class="calendar-header">
        <span class="month-picker" id="month-picker">February</span>
        <div class="year-picker">
          <span class="year-change" id="prev-year">
            <pre></pre>
          </span>
          <span id="year">2021</span>
          <span class="year-change" id="next-year">
            <pre>></pre>
          </span>
        </div>
      </div>
      <div class="calendar-body">
        <div class="calendar-week-day">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="calendar-days"></div>
      </div>
      <div class="calendar-footer">
        <div class="toggle">
          <span>Dark Mode</span>
          <div class="dark-mode-switch">
            <div class="dark-mode-switch-ident"></div>
          </div>
        </div>
      </div>
      <div class="month-list"></div>
    </div>

    <div class="recent_blogs">
      {{! <h1>Featured Articles</h1> }}
      <div class="card">
        <ul>
          <li>
            <a class="ad"><img src="/images/bk5.jpeg" alt="" /></a><p>
              {{! <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
                ipsa itaque veritatis</a> }}
            </p></li>
          <li>
            <a class="ad"><img src="/images/bk4.jpeg" alt="" /></a><p>
              {{! <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
                ipsa itaque veritatis</a> }}
            </p></li>
          <li>
            <a class="ad"><img src="/images/bk3.jpeg" alt="" /></a><p>
              {{! <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
                ipsa itaque veritatis</a> }}
            </p></li>
          <li>
            <a class="ad"><img src="/images/bk2.jpg" alt="" /></a><p>
              {{! <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
                ipsa itaque veritatis</a> }}
            </p></li>
          <li>
            <a class="ad"><img src="/images/bk1.jpg" alt="" /></a><p>
              {{! <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
                ipsa itaque veritatis</a> }}
            </p></li>

        </ul>
      </div>
    </div>

    <div class="avdertisement">
      {{! <h1>Advertisement</h1> }}
      <a class="ad"><img src="/images/ad1.png" alt="" /></a>
    </div>
    <div class="admission_news">
      {{! <h1>Top News</h1> }}
      <div class="card">
        <ul>
          <li>
            <a class="ad"><img src="/images/bk6.jpg" alt="" /></a>
            <p>
              {{! <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
                ipsa itaque veritatis</a> }}
            </p></li>
          {{!-- <li>
            <img src="/images/bk1.jpg" alt="" /><p>
              {{! <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
                ipsa itaque veritatis</a> }}
            </p></li>
          <li>
            <img src="/images/bk1.jpg" alt="" /><p>
              {{! <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam
                ipsa itaque veritatis</a> }}
            </p>
          </li> --}}

        </ul>
      </div>
    </div>
    {{!-- <div class="avdertisement">
      {{! <h1>Advertisement</h1> }}

      <img src="/images/ad1.png" alt="" />
    </div> --}}
    <div class="sidebar_links">
      <ul>
        <li><a target="_blank" href="https://www.moedu.gov.bd">শিক্ষা মন্ত্রণালয়</a></li>
        <li><a target="_blank" href="https://www.dpe.gov.bd">মাধ্যমিক ও
            উচ্চশিক্ষা অধিদপ্তর</a></li>
        <li><a target="_blank" href="https://www.dpe.gov.bd">প্রাথমিক শিক্ষা
            অধিদপ্তর</a></li>
        <li><a target="_blank" href="https://www.nape.gov.bd">প্রাথমিক ও
            গণশিক্ষা মন্ত্রণালয়</a></li>
        <li><a target="_blank" href="https://www.nape.gov.bd">জাতীয় প্রাথমিক
            শিক্ষা একাডেমি (নেপ)</a></li>
        <li><a target="_blank" href="https://www.nu.edu.bd">জাতীয় বিশ্ববিদ্যালয়</a></li>
        <li><a target="_blank" href="https://www.bou.edu.bd">বাংলাদেশ উন্মুক্ত
            বিশ্ববিদ্যালয়</a></li>
        <li><a target="_blank" href="https://www.ugc.gov.bd">বাংলাদেশ
            বিশ্ববিদ্যালয় মঞ্জুরি কমিশন (ইউজিসি)
          </a></li>
        <li><a
            target="_blank"
            href="https://www.educationboardresults.gov.bd"
          >এডুকেশন বোর্ড রেজাল্ট
          </a></li>
        <li><a target="_blank" href="https://www.educationboard.gov.bd">মাধ্যমিক
            ও উচ্চশিক্ষা বোর্ড</a></li>
        <li><a target="_blank" href="https://www.bmeb.gov.bd">বাংলাদেশ মাদরাসা
            শিক্ষা বোর্ড
          </a></li>
        <li><a target="_blank" href="https://www.bteb.gov.bd">বাংলাদেশ কারিগরি
            শিক্ষা বোর্ড
          </a></li>
        <li><a target="_blank" href="https://www.nctb.gov.bd">জাতীয় শিক্ষাক্রম ও
            পাঠ্যপুস্তক বোর্ড (এনসিটিবি)
          </a></li>
        <li><a target="_blank" href="https://www.teachers.gov.bd">শিক্ষক বাতায়ন
          </a></li>
        <li><a target="_blank" href="https://www.bnfe.gov.bd">অনানুষ্ঠানিক
            শিক্ষা ব্যুরো
          </a></li>
      </ul>
    </div>
  </div>
</div>